.tabs {
  .nav-tabs {
    .nav-link {
      cursor: pointer;
      background-color: white;
      outline: none;
      border: none;
      &:hover {
        color: #065da3;
        outline: none;
      }
    }
    .nav-item {
      border-bottom: 1px solid #dee2e6;
      &.active {
        border: 1px solid #dee2e6;
        border-bottom: 0;
        .nav-link {
          color: #065da3;
        }
      }
    }
  }
  background: white;
  padding: 16px 12px;
}