.routes-info {
  p {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}

.current-routes {
  background: aliceblue;
  font-size: 14px;
  padding: 8px 8px;
}

.form-control.error {
  border-color: #c92a2a;
}